*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #488080;
    color: #ffffff;
}
#Contenedor{
    width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 75px;
    background: #009999;
    margin-bottom: 10px;
}
header h1{
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}
nav{
    
}
#Contenido{
    width: 650px;
    height: 500px;
    float: left;
    background: #D8D511;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #333;
}
#Contenido h1{
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Contenido p{
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside{
    width: 240px;
    height: 500px;
    background: #F8F8FF;
    margin-top: 10px;
    float: right;
}
aside h2{
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}
footer{
    background: #009999;
    clear: both;
}
footer div{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}

.Menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.Menu a{
    display: block;
    padding: 10px 15px;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
    border-radius: 5px;
}
#ContVisita{
    color: #ED0831;
    font: 20px 'trebuchet MS', 'lucida sans';
}
#WidgethTw{
    margin: 15px;
}
.Menu a:hover {
    background-color: #CC673B;
}
.Menu ul li ul {
    display: none;
    position: absolute;
}
.Menu ul li a:hover + ul, .Menu ul li ul:hover {
    display: block;
}